<!-- <div class="popupform">
</div> -->
<br><br>
<div class="container">

  <%= erb :'questions/_errors', layout: false, locals: {errors: @errors} %>

  <div>
    <h1><%= @question.title %></h1>
    <p> <%= long_form_date(@question.created_at) %> by <%= @question.user.username.capitalize %> </p>
    <form class="upvotes" action='/questions/<%= @question.id %>/vote' method='post'>
      <input class="btn btn-default" type="submit" value="ðŸ‘">
      <span class="upvotes"><%= @question.votes.count %></span>
    </form>
  </div><br>
  <p> <%= @question.content %> </p><br>

  <!-- add logic to address edit button appearing when not the author-->
  <%= erb :'questions/_edit-button', layout: false, locals: {question: @question} %>

  <h5> Comments </h5>
  <% @question.comments.each do |qcomment| %>
  <%= erb :"/comments/_question_comment", layout: false, locals: {question: @question, qcomment: qcomment} %>
  <% end %>

  <% if logged_in? %>
  <form action='/questions/<%= @question.id %>/comments/new'>
    <input class="new_comment_button btn btn-default" type="submit" value="New Comment">
  </form><br><br>
  <% end %>

  <p style="border-top: 3px solid black"> </p>

  <h3>Answers</h3><br>
  <% @answers.each do |answer| %>
  <div class="answer">
    <p> <%= answer.body %> </p>
    <% if answer.user %>
    <p style="font-size: 0.6em"> <%= long_form_date(answer.created_at) %> by <%= answer.user.username.capitalize %> </p>
    <% end %> 
    <form class="upvotes" action='/answers/<%= answer.id %>/vote' method='post'>
      <input class="btn btn-default" type="submit" value="ðŸ‘">
      <span class="upvotes"> <%= answer.votes.count %></span>
    </form><br>

    <h5> Comments </h5><br>
    <% answer.comments.each do |acomment| %>
    <%= erb :"/comments/_answer_comment", layout: false, locals: {answer: answer, acomment: acomment} %>
    <% end %>
    <br>

    <div class="append_comment">
    </div>

    <% if logged_in? %>
    <button class="new_comment_button btn btn-default" >New Comment</button><br>
    <%= erb :"/questions/_add_comment", layout: false, locals: {answer: answer} %>
    <% end %>
    <br>
  </div>
  <p style="border-top: 3px solid black"> </p>
  <% end %>

  <% if logged_in? %>
  <br>
  <form action='/questions/<%= @question.id %>/answers/new'>
    <input class="btn btn-default" type="submit" value="Add an answer">
  </form><br>
  <% end %>
</div>
<br><br><br>