<div class="container">

  <h1><%= @question.title %></h1>
  <p> <%= @question.content %> </p>

<!-- add logic to address edit button appearing when not the author-->
 <%= erb :'questions/_edit-button', layout: false, locals: {question: @question} %>

  <h5> Comments </h5>
    <% @question.comments.each do |qcomment| %>
      <ul>
        <li><%= qcomment.text %> </li>
      </ul>
    <% end %>

  <form action='/questions/<%= @question.id %>/comments/new'>
    <input type="submit" value="Comment on an Question">
  </form><br>

  <h3>Answers</h3>
    <% @answers.each do |answer| %>
      <p> <%= answer.body %> </p>
      <h5> Comments </h5>
        <% answer.comments.each do |acomment| %>
          <p> <%= acomment.text %> </p>
        <% end %>
    <% end %>

  <form action='/answer/<%= @question.id %>/comments/new'>
    <input type="submit" value="Comment on a Answer">
  </form><br>

  <form action='/questions/<%= @question.id %>/answers/new'>
    <input type="submit" value="Add an answer">
  </form><br>


</div>
