<div class="container">

  <%= erb :'questions/_errors', layout: false, locals: {errors: @errors} %>

  <div>
    <h1><%= @question.title %></h1>
      <form action='/questions/<%= @question.id %>/vote' method='post'>
      <input type="submit" value="ðŸ‘">
      <%= @question.votes.count %>
      </form>
  </div>
  <p> <%= @question.created_at %> by <%= @question.user.username %> </p>
  <p> <%= @question.content %> </p>

<!-- add logic to address edit button appearing when not the author-->
 <%= erb :'questions/_edit-button', layout: false, locals: {question: @question} %>

  <h5> Comments </h5>
    <% @question.comments.each do |qcomment| %>
      <ul>
        <li><%= qcomment.text %>
          <form action='/comments/<%= qcomment.id %>/vote' method='post'>
            <input type="submit" value="ðŸ‘">
              <%= qcomment.votes.count %>
          </form>
      </li>
      </ul>
    <% end %>

  <% if logged_in? %>
  <form action='/questions/<%= @question.id %>/comments/new'>
    <input class="button" type="submit" value="Comment on an Question">
  </form><br>
  <% end %>


  <% @answers.each do |answer| %>
    <h3>Answers</h3>
      <p> <%= answer.body %> </p>
        <% if logged_in? %>
          <h5> Comments </h5>
            <% answer.comments.each do |acomment| %>
              <p> <%= acomment.text %> </p>
            <% end %>
          <form action='/answers/<%= answer.id %>/comments/new' id="comment_form" method="post">
            <textarea name="comment_text" rows="2" cols="50">
              Enter a comment here!
            </textarea>
            <input class="submit_button" type="submit" value="Submit Comment">
          </form><br>
        <% end %>
    <% end %>

  <% if logged_in? %>
  <form action='/questions/<%= @question.id %>/answers/new'>
    <input class="button" type="submit" value="Add an answer">
  </form><br>
<% end %>

</div>
