<br><br>
<div class="container">

  <%= erb :'questions/_errors', layout: false, locals: {errors: @errors} %>

  <div>
    <h1><%= @question.title %></h1>
    <form class="upvotes" action='/questions/<%= @question.id %>/vote' method='post'>
      <input class="btn btn-default" type="submit" value="ðŸ‘">
      <span class="upvotes"><%= @question.votes.count %></span>
    </form>
  </div>
  <p> <%= long_form_date(@question.created_at) %> by <%= @question.user.username.capitalize %> </p>
  <p> <%= @question.content %> </p>

  <!-- add logic to address edit button appearing when not the author-->
  <%= erb :'questions/_edit-button', layout: false, locals: {question: @question} %>

  <h5> Comments </h5>
  <% @question.comments.each do |qcomment| %>
  <ul style="list-style: none">
    <li class="well-lg"><%= qcomment.text %>
      <p> <%= long_form_date(@question.created_at) %> by <%= @question.user.username.capitalize %> </p>
      <form class="upvotes" action='/comments/<%= qcomment.id %>/vote' method='post'>
        <input class="btn btn-default" type="submit" value="ðŸ‘">
        <span class="upvotes"> <%= qcomment.votes.count %> </span>
      </form>
    </li>
  </ul>
  <% end %>

  <% if logged_in? %>
  <form action='/questions/<%= @question.id %>/comments/new'>
    <input class="btn btn-default" type="submit" value="Comment on Question">
  </form><br>
  <% end %>


  <h3 style="border-top: 3px solid black">Answers</h3>
  <% @answers.each do |answer| %>
  <div class="answer">
    <p> <%= answer.body %> </p>
    <form class="upvotes" action='/answers/<%= answer.id %>/vote' method='post'>
      <input class="btn btn-default" type="submit" value="ðŸ‘">
      <span class="upvotes"> <%= answer.votes.count %></span>
    </form>
    <h5> Comments </h5>

    <% answer.comments.each do |acomment| %>
    <p> <%= acomment.text %> </p>
    <% if logged_in? %>
    <form class="upvotes" action='/answers/<%= answer.id %>/vote' method='post'>
      <input class="btn btn-default" type="submit" value="ðŸ‘">
      <span class="upvotes"><%= answer.votes.count %></span><br><br>
    </form>
    <% end %>
    <% end %>
    <br>
    <button class="new_comment_button btn btn-default" >New Comments</button><br>
    <%= erb :"/questions/_add_comment", layout: false, locals: {answer: answer} %>
    <br>
  </div>
  <% end %>

  <% if logged_in? %>
  <form action='/questions/<%= @question.id %>/answers/new'>
    <input class="btn btn-default" type="submit" value="Add an answer">
  </form><br>
  <% end %>

</div>
